body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* The navigation bar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-decoration: none;
}

/* Main content */
.main {
  margin-top: 72px; /* Add a top margin to avoid content overlay */
}